body {
  background: $black_russian;
}

.container {
  width: 90%;
  margin: auto;
}

.content-page {
  margin-top: 40px;
  padding-left: 80px;
}

.error {
  font-size: 12px;
  color: $error;
  font-family: $roboto;
}
